<!DOCTYPE html>
<html>
<head>
	<title></title>

<script type="text/javascript">
	function submitForm() {
  	return confirm('Do you really want to delete the idea?');
}
</script>

</head>
<body>

	<h2>
		Welcome to your IdeaSpace {{user.firstName}}
	</h2>
	<h4>Your Ideas</h4>
	{{#if ideas}}
	<table class="striped">
		<thead>
			<tr>
				<th>Title</th>
				<th>Date</th>
				<th>Status</th>
				<th>...</th>
			</tr>
		</thead>
		<tbody>
			{{#each ideas}}
			<tr>
				<td><a href="/ideas/show/{{id}}">{{title}}</a></td>
				<td>{{formatDate date 'MMMM Do YYYY'}}</td>
				<td><span class="dash-status">{{status}}</span></td>
				<td><a href="/ideas/edit/{{id}}" class="btn-small left-align blue ">
					<i class="fa fa-edit"></i>
					Edit 
					</a>
					<form onsubmit="return submitForm(this);" 
					action="/ideas/{{id}}?_method=DELETE" 
					method="post" id="delete-form">
						
						<input type="hidden" name="_method" value="DELETE">
						<button type="submit" class="btn-small red darken-2">
							<i class="fa fa-minus-circle"></i>
						Delete</button>
					</form>
				</td>
				
			</tr>
			{{/each}}
		</tbody>
	</table>
	
	{{else}}
	<p>You have not created any story yet</p>


	{{/if}}
</body>
</html>