<!DOCTYPE html>
<html>

<body>
	------Accomodation-------
	<br>
	Name: {{trip.accom.name}}
	<br>
	Type: {{trip.accom.type}}
	<br>
	Price: {{trip.accom.price}}
	<br>
	ID: {{trip.accom.id}}
	<br>
	<br>
	<br>
	<p class="white-text">
		-------Transport-------
		<br>
		Name: {{trip.transport.name}}
		<br>
		Category: {{trip.transport.category}}
		<br>
		Price: {{trip.transport.price}}
		<br>
		Destination: {{trip.transport.location}}
		<br>
	</p>
</body>
</html>